In [1]:
import numpy as np
import csv

# 1. Represent the data in the given sheet into an appropriate NumPy array so that you can perform the following actions on it.

In [2]:
data = []
with open(r'C:\Users\HP\Desktop\Data-LB\New folder\SampleTemperature Sheet - mysheet.csv') as csvfile:
    filereader = csv.reader(csvfile, delimiter = ',')
    for row in filereader:
        data.append(row)

In [3]:
data = np.array(data)

In [4]:
data

array([['Temprature Sheet', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
       ['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['', 'Week 2', '13', '23', '13', '29', '8', '22', '-13', '32',
        '6', '21', '14', '23', '11', '28'],
       ['', 'Week 3', '6', '28', '14', '21', '9', '32', '8', '28', '13',
        '30', '6', '31', '6', '23'],
       ['', 'Week 4', '6', '23', '8', '23', '14', '24', '6', '29', '13',
        '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['', 'Week 2', '9', '30', '15', '26', '9', '27', '14', '31', '8',
        '22', '10', '26', '12', '28'],
       ['', 'Week 3', '6', '28', '12', '31', '14', '27', '9', '32', '7',
        '23', '11', '32', '7', '23'],
       ['', 'Week 4', '7', '28', '15', '29', '11', '22', '14', '21',
        '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22', '4',
        '21', '3', '3', '20', '5'],
       ['', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19', '4',
        '18', '3', '7', '18', '4'],
       ['', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22', '8',
        '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', '71', '21', '12'],
       ['', 'Week 2', '8', '19', '10', '20', '12', '18', '10', '18',
        '10', '22', '8', '11', '19', '7'],
       ['', 'Week 3', '9', '22', '11', '19', '7', '21', '11', '21', '9',
        '19', '7', '10', '19', '10'],
       ['', 'Week 4', '11', '21', '7', '20', '11', '21', '12', '18',
        '11', '20', '12', '7', '21', '9']], dtype='<U16')

In [5]:
data = np.delete(data, 0, axis = 0)

In [6]:
data = np.delete(data, 0, axis = 0)

In [7]:
data

array([['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['', 'Week 2', '13', '23', '13', '29', '8', '22', '-13', '32',
        '6', '21', '14', '23', '11', '28'],
       ['', 'Week 3', '6', '28', '14', '21', '9', '32', '8', '28', '13',
        '30', '6', '31', '6', '23'],
       ['', 'Week 4', '6', '23', '8', '23', '14', '24', '6', '29', '13',
        '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['', 'Week 2', '9', '30', '15', '26', '9', '27', '14', '31', '8',
        '22', '10', '26', '12', '28'],
       ['', 'Week 3', '6', '28', '12', '31', '14', '27', '9', '32', '7',
        '23', '11', '32', '7', '23'],
       ['', 'Week 4', '7', '28', '15', '29', '11', '22', '14', '21',
        '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22', '4',
        '21', '3', '3', '20', '5'],
       ['', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19', '4',
        '18', '3', '7', '18', '4'],
       ['', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22', '8',
        '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', '71', '21', '12'],
       ['', 'Week 2', '8', '19', '10', '20', '12', '18', '10', '18',
        '10', '22', '8', '11', '19', '7'],
       ['', 'Week 3', '9', '22', '11', '19', '7', '21', '11', '21', '9',
        '19', '7', '10', '19', '10'],
       ['', 'Week 4', '11', '21', '7', '20', '11', '21', '12', '18',
        '11', '20', '12', '7', '21', '9']], dtype='<U16')

In [8]:
data[2:6,0] = 'November'
data[6:10,0]='December'
data[10:14,0]='January'
data[14:,0]='February'

In [9]:
data

array([['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['November', 'Week 2', '13', '23', '13', '29', '8', '22', '-13',
        '32', '6', '21', '14', '23', '11', '28'],
       ['November', 'Week 3', '6', '28', '14', '21', '9', '32', '8',
        '28', '13', '30', '6', '31', '6', '23'],
       ['November', 'Week 4', '6', '23', '8', '23', '14', '24', '6',
        '29', '13', '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['December', 'Week 2', '9', '30', '15', '26', '9', '27', '14',
        '31', '8', '22', '10', '26', '12', '28'],
       ['December', 'Week 3', '6', '28', '12', '31', '14', '27', '9',
        '32', '7', '23', '11', '32', '7', '23'],
       ['December', 'Week 4', '7', '28', '15', '29', '11', '22', '14',
        '21', '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['January', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22',
        '4', '21', '3', '3', '20', '5'],
       ['January', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19',
        '4', '18', '3', '7', '18', '4'],
       ['January', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22',
        '8', '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', '71', '21', '12'],
       ['February', 'Week 2', '8', '19', '10', '20', '12', '18', '10',
        '18', '10', '22', '8', '11', '19', '7'],
       ['February', 'Week 3', '9', '22', '11', '19', '7', '21', '11',
        '21', '9', '19', '7', '10', '19', '10'],
       ['February', 'Week 4', '11', '21', '7', '20', '11', '21', '12',
        '18', '11', '20', '12', '7', '21', '9']], dtype='<U16')

In [10]:
data[0:1,3:4] = 'Monday'
data[0:1,5:6] = 'Tuesday'
data[0:1,7:8] = 'Wednesday'
data[0:1,9:10] = 'Thursday'
data[0:1,11:12] = 'Friday'
data[0:1,13:14] = 'Saturday'
data[0:1,15:16] = 'Sunday'

In [11]:
data

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['November', 'Week 2', '13', '23', '13', '29', '8', '22', '-13',
        '32', '6', '21', '14', '23', '11', '28'],
       ['November', 'Week 3', '6', '28', '14', '21', '9', '32', '8',
        '28', '13', '30', '6', '31', '6', '23'],
       ['November', 'Week 4', '6', '23', '8', '23', '14', '24', '6',
        '29', '13', '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['December', 'Week 2', '9', '30', '15', '26', '9', '27', '14',
        '31', '8', '22', '10', '26', '12', '28'],
       ['December', 'Week 3', '6', '28', '12', '31', '14', '27', '9',
        '32', '7', '23', '11', '32', '7', '23'],
       ['December', 'Week 4', '7', '28', '15', '29', '11', '22', '14',
        '21', '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['January', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22',
        '4', '21', '3', '3', '20', '5'],
       ['January', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19',
        '4', '18', '3', '7', '18', '4'],
       ['January', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22',
        '8', '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', '71', '21', '12'],
       ['February', 'Week 2', '8', '19', '10', '20', '12', '18', '10',
        '18', '10', '22', '8', '11', '19', '7'],
       ['February', 'Week 3', '9', '22', '11', '19', '7', '21', '11',
        '21', '9', '19', '7', '10', '19', '10'],
       ['February', 'Week 4', '11', '21', '7', '20', '11', '21', '12',
        '18', '11', '20', '12', '7', '21', '9']], dtype='<U16')

# 2. Write the dimensions and shape of the NumPy array that you have created.

In [12]:
np.ndim(data)

2

In [13]:
data.shape

(18, 16)

# 3. Print the daily temperatures for the first week of each month.

In [14]:
cond = data[:,1] =='Week 1'

In [15]:
first_week = data[cond]

In [16]:
np.vstack((data[0:2,:],first_week))

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', '71', '21', '12']], dtype='<U16')

# 4. Print the temperatures for Tuesday of each month.

In [17]:
np.hstack((data[0:,0:2],data[0:,4:6]))

array([['Month', 'Week', 'Tuesday', 'Tuesday'],
       ['', '', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '10', '20'],
       ['November', 'Week 2', '13', '29'],
       ['November', 'Week 3', '14', '21'],
       ['November', 'Week 4', '8', '23'],
       ['December', 'Week 1', '14', '25'],
       ['December', 'Week 2', '15', '26'],
       ['December', 'Week 3', '12', '31'],
       ['December', 'Week 4', '15', '29'],
       ['January', 'Week 1', '8', '21'],
       ['January', 'Week 2', '6', '20'],
       ['January', 'Week 3', '7', '18'],
       ['January', 'Week 4', '2', '18'],
       ['February', 'Week 1', '7', '19'],
       ['February', 'Week 2', '10', '20'],
       ['February', 'Week 3', '11', '19'],
       ['February', 'Week 4', '7', '20']], dtype='<U16')

# 5. Print only the maximum temperature for all the weekdays of Dec and Feb.

In [18]:
max_temp = np.hstack((data[:,0:2],data[:,3::2]))

In [19]:
max_temp

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp', 'Max Temp'],
       ['November', 'Week 1', '20', '20', '30', '24', '29', '21', '27'],
       ['November', 'Week 2', '23', '29', '22', '32', '21', '23', '28'],
       ['November', 'Week 3', '28', '21', '32', '28', '30', '31', '23'],
       ['November', 'Week 4', '23', '23', '24', '29', '25', '24', '27'],
       ['December', 'Week 1', '25', '25', '20', '28', '23', '23', '30'],
       ['December', 'Week 2', '30', '26', '27', '31', '22', '26', '28'],
       ['December', 'Week 3', '28', '31', '27', '32', '23', '32', '23'],
       ['December', 'Week 4', '28', '29', '22', '21', '27', '31', '25'],
       ['January', 'Week 1', '22', '21', '20', '19', '22', '7', '4'],
       ['January', 'Week 2', '22', '20', '21', '22', '21', '3', '5'],
       ['January', 'Week 3', '21', '18', '21', '19', '18', '7', '4'],
       ['January', 'Week 4', '19', '18', '20', '22', '19', '4', '8'],
       ['February', 'Week 1', '22', '19', '18', '19', '20', '71', '12'],
       ['February', 'Week 2', '19', '20', '18', '18', '22', '11', '7'],
       ['February', 'Week 3', '22', '19', '21', '21', '19', '10', '10'],
       ['February', 'Week 4', '21', '20', '21', '18', '20', '7', '9']],
      dtype='<U16')

In [20]:
cond_d = max_temp[:,0]=='December'
dec_m = max_temp[cond_d]

In [21]:
cond_j = max_temp[:,0]=='January'
jan_m = max_temp[cond_j]

In [22]:
dec_jan_max_temp = np.vstack(((max_temp[0:2,:],dec_m,jan_m)))

In [23]:
dec_jan_max_temp

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp', 'Max Temp'],
       ['December', 'Week 1', '25', '25', '20', '28', '23', '23', '30'],
       ['December', 'Week 2', '30', '26', '27', '31', '22', '26', '28'],
       ['December', 'Week 3', '28', '31', '27', '32', '23', '32', '23'],
       ['December', 'Week 4', '28', '29', '22', '21', '27', '31', '25'],
       ['January', 'Week 1', '22', '21', '20', '19', '22', '7', '4'],
       ['January', 'Week 2', '22', '20', '21', '22', '21', '3', '5'],
       ['January', 'Week 3', '21', '18', '21', '19', '18', '7', '4'],
       ['January', 'Week 4', '19', '18', '20', '22', '19', '4', '8']],
      dtype='<U16')

# 6. Print all the days along with the week number in November when the minimum temperature was less than 8 degrees.

In [24]:
data[0:3]

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27']], dtype='<U16')

In [25]:
min_temp = np.hstack((data[:,0:2],data[:,2::2]))

In [26]:
min_temp

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Min Temp', 'Min Temp', 'Min Temp', 'Min Temp',
        'Min Temp', 'Min Temp', 'Min Temp'],
       ['November', 'Week 1', '11', '10', '9', '14', '6', '12', '12'],
       ['November', 'Week 2', '13', '13', '8', '-13', '6', '14', '11'],
       ['November', 'Week 3', '6', '14', '9', '8', '13', '6', '6'],
       ['November', 'Week 4', '6', '8', '14', '6', '13', '12', '11'],
       ['December', 'Week 1', '11', '14', '7', '9', '9', '11', '11'],
       ['December', 'Week 2', '9', '15', '9', '14', '8', '10', '12'],
       ['December', 'Week 3', '6', '12', '14', '9', '7', '11', '7'],
       ['December', 'Week 4', '7', '15', '11', '14', '12', '12', '14'],
       ['January', 'Week 1', '5', '8', '8', '7', '8', '2', '18'],
       ['January', 'Week 2', '4', '6', '6', '4', '4', '3', '20'],
       ['January', 'Week 3', '5', '7', '8', '4', '4', '3', '18'],
       ['January', 'Week 4', '6', '2', '7', '8', '8', '7', '20'],
       ['February', 'Week 1', '8', '7', '-10', '11', '12', '12', '21'],
       ['February', 'Week 2', '8', '10', '12', '10', '10', '8', '19'],
       ['February', 'Week 3', '9', '11', '7', '11', '9', '7', '19'],
       ['February', 'Week 4', '11', '7', '11', '12', '11', '12', '21']],
      dtype='<U16')

In [27]:
nov_min_temp = min_temp[2:6,2:].astype(int)

In [28]:
nov_min_temp.shape

(4, 7)

In [29]:
nov_min_temp1 = nov_min_temp.reshape(4*7,)

In [30]:
m = []
for i in nov_min_temp1:
    if i<8:
        m.append(i)
    else:
        m.append('')

In [31]:
m = np.array(m).reshape(4,7)
m

array([['', '', '', '', '6', '', ''],
       ['', '', '', '-13', '6', '', ''],
       ['6', '', '', '', '', '6', '6'],
       ['6', '', '', '6', '', '', '']], dtype='<U11')

In [32]:
min_nov = np.hstack((min_temp[2:6,0:2],m))

In [33]:
min_nov = np.vstack((min_temp[0:2,:],min_nov))

In [34]:
min_nov

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Min Temp', 'Min Temp', 'Min Temp', 'Min Temp',
        'Min Temp', 'Min Temp', 'Min Temp'],
       ['November', 'Week 1', '', '', '', '', '6', '', ''],
       ['November', 'Week 2', '', '', '', '-13', '6', '', ''],
       ['November', 'Week 3', '6', '', '', '', '', '6', '6'],
       ['November', 'Week 4', '6', '', '', '6', '', '', '']], dtype='<U16')

# 7. Print all the weeks in Dec and Jan where the maximum temperature has crossed a threshold of 20 degrees.

In [35]:
max_temp[:3]

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp', 'Max Temp'],
       ['November', 'Week 1', '20', '20', '30', '24', '29', '21', '27']],
      dtype='<U16')

In [36]:
dec = max_temp[:,0]=='December'
jan = max_temp[:,0]=='January'

In [37]:
d_j = np.vstack((max_temp[dec],max_temp[jan]))

In [38]:
d_j

array([['December', 'Week 1', '25', '25', '20', '28', '23', '23', '30'],
       ['December', 'Week 2', '30', '26', '27', '31', '22', '26', '28'],
       ['December', 'Week 3', '28', '31', '27', '32', '23', '32', '23'],
       ['December', 'Week 4', '28', '29', '22', '21', '27', '31', '25'],
       ['January', 'Week 1', '22', '21', '20', '19', '22', '7', '4'],
       ['January', 'Week 2', '22', '20', '21', '22', '21', '3', '5'],
       ['January', 'Week 3', '21', '18', '21', '19', '18', '7', '4'],
       ['January', 'Week 4', '19', '18', '20', '22', '19', '4', '8']],
      dtype='<U16')

In [39]:
d_j1 = d_j[:,2:].astype(int)

In [40]:
d_j1.shape

(8, 7)

In [41]:
d_j1 = d_j1.reshape(8*7,)

In [42]:
d = []
for i in d_j1:
    if i>20:
        d.append(i)
    else:
        d.append('')

In [43]:
d_j2 = np.array(d).reshape(8,7)

In [44]:
d_j2

array([['25', '25', '', '28', '23', '23', '30'],
       ['30', '26', '27', '31', '22', '26', '28'],
       ['28', '31', '27', '32', '23', '32', '23'],
       ['28', '29', '22', '21', '27', '31', '25'],
       ['22', '21', '', '', '22', '', ''],
       ['22', '', '21', '22', '21', '', ''],
       ['21', '', '21', '', '', '', ''],
       ['', '', '', '22', '', '', '']], dtype='<U11')

In [45]:
dec_jan = np.hstack((d_j[:,:2],d_j2))

In [46]:
dec_jan = np.vstack((max_temp[0:2,:],dec_jan))

In [47]:
dec_jan

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp', 'Max Temp'],
       ['December', 'Week 1', '25', '25', '', '28', '23', '23', '30'],
       ['December', 'Week 2', '30', '26', '27', '31', '22', '26', '28'],
       ['December', 'Week 3', '28', '31', '27', '32', '23', '32', '23'],
       ['December', 'Week 4', '28', '29', '22', '21', '27', '31', '25'],
       ['January', 'Week 1', '22', '21', '', '', '22', '', ''],
       ['January', 'Week 2', '22', '', '21', '22', '21', '', ''],
       ['January', 'Week 3', '21', '', '21', '', '', '', ''],
       ['January', 'Week 4', '', '', '', '22', '', '', '']], dtype='<U16')

# 8. Check if there are any absurd values present in the dataset(like some temp which should not be present in the data)

In [48]:
d = data[2:,2:]
d.shape

(16, 14)

In [49]:
d = d.reshape(16*14,)
d

array(['11', '20', '10', '20', '9', '30', '14', '24', '6', '29', '12',
       '21', '12', '27', '13', '23', '13', '29', '8', '22', '-13', '32',
       '6', '21', '14', '23', '11', '28', '6', '28', '14', '21', '9',
       '32', '8', '28', '13', '30', '6', '31', '6', '23', '6', '23', '8',
       '23', '14', '24', '6', '29', '13', '25', '12', '24', '11', '27',
       '11', '25', '14', '25', '7', '20', '9', '28', '9', '23', '11',
       '23', '11', '30', '9', '30', '15', '26', '9', '27', '14', '31',
       '8', '22', '10', '26', '12', '28', '6', '28', '12', '31', '14',
       '27', '9', '32', '7', '23', '11', '32', '7', '23', '7', '28', '15',
       '29', '11', '22', '14', '21', '12', '27', '12', '31', '14', '25',
       '5', '22', '8', '21', '8', '20', '7', '19', '8', '22', '2', '7',
       '18', '4', '4', '22', '6', '20', '6', '21', '4', '22', '4', '21',
       '3', '3', '20', '5', '5', '21', '7', '18', '8', '21', '4', '19',
       '4', '18', '3', '7', '18', '4', '6', '19', '2', '18', '7', '20',
       '8', '22', '8', '19', '7', '4', '20', '8', '8', '22', '7', '19',
       '-10', '18', '11', '19', '12', '20', '12', '71', '21', '12', '8',
       '19', '10', '20', '12', '18', '10', '18', '10', '22', '8', '11',
       '19', '7', '9', '22', '11', '19', '7', '21', '11', '21', '9', '19',
       '7', '10', '19', '10', '11', '21', '7', '20', '11', '21', '12',
       '18', '11', '20', '12', '7', '21', '9'], dtype='<U16')

In [50]:
a =[]
for i in d:
    if i == '':
        a.append(True)
    else:
        a.append(False)

In [51]:
a

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [52]:
a.count(True)

0

All values are present in data

# 10. Find and print the indexes of all the outlier(unusual) values present in the above dataset.

In [53]:
temp = d.astype(int)

In [54]:
temp.shape

(224,)

In [55]:
temp_short = np.sort(temp)

In [56]:
temp_short

array([-13, -10,   2,   2,   3,   3,   3,   4,   4,   4,   4,   4,   4,
         4,   4,   5,   5,   5,   6,   6,   6,   6,   6,   6,   6,   6,
         6,   6,   6,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,
         7,   7,   7,   7,   7,   7,   8,   8,   8,   8,   8,   8,   8,
         8,   8,   8,   8,   8,   8,   8,   9,   9,   9,   9,   9,   9,
         9,   9,   9,   9,  10,  10,  10,  10,  10,  10,  10,  11,  11,
        11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,
        12,  12,  12,  12,  12,  12,  12,  12,  12,  12,  12,  12,  12,
        13,  13,  13,  13,  14,  14,  14,  14,  14,  14,  14,  14,  14,
        15,  15,  18,  18,  18,  18,  18,  18,  18,  18,  18,  19,  19,
        19,  19,  19,  19,  19,  19,  19,  19,  19,  20,  20,  20,  20,
        20,  20,  20,  20,  20,  20,  20,  20,  21,  21,  21,  21,  21,
        21,  21,  21,  21,  21,  21,  21,  21,  21,  21,  22,  22,  22,
        22,  22,  22,  22,  22,  22,  22,  22,  23,  23,  23,  23,  23,
        23,  23,  23,  23,  24,  24,  24,  25,  25,  25,  25,  26,  26,
        27,  27,  27,  27,  27,  28,  28,  28,  28,  28,  28,  28,  29,
        29,  29,  29,  30,  30,  30,  30,  31,  31,  31,  31,  32,  32,
        32,  32,  71])

In [57]:
q1 = np.median(temp_short[0:112])
q1

8.0

In [58]:
q3 = np.median(temp_short[112:])

In [59]:
q3

22.0

In [60]:
iqr = q3 - q1
iqr

14.0

In [61]:
q = []
for i in temp:
    if i>q1-1.5*iqr and i<q3+1.5*iqr:
        q.append(i)
    else:
        q.append('outlier')

In [62]:
q = np.array(q).reshape(16,14)

In [63]:
q

array([['11', '20', '10', '20', '9', '30', '14', '24', '6', '29', '12',
        '21', '12', '27'],
       ['13', '23', '13', '29', '8', '22', 'outlier', '32', '6', '21',
        '14', '23', '11', '28'],
       ['6', '28', '14', '21', '9', '32', '8', '28', '13', '30', '6',
        '31', '6', '23'],
       ['6', '23', '8', '23', '14', '24', '6', '29', '13', '25', '12',
        '24', '11', '27'],
       ['11', '25', '14', '25', '7', '20', '9', '28', '9', '23', '11',
        '23', '11', '30'],
       ['9', '30', '15', '26', '9', '27', '14', '31', '8', '22', '10',
        '26', '12', '28'],
       ['6', '28', '12', '31', '14', '27', '9', '32', '7', '23', '11',
        '32', '7', '23'],
       ['7', '28', '15', '29', '11', '22', '14', '21', '12', '27', '12',
        '31', '14', '25'],
       ['5', '22', '8', '21', '8', '20', '7', '19', '8', '22', '2', '7',
        '18', '4'],
       ['4', '22', '6', '20', '6', '21', '4', '22', '4', '21', '3', '3',
        '20', '5'],
       ['5', '21', '7', '18', '8', '21', '4', '19', '4', '18', '3', '7',
        '18', '4'],
       ['6', '19', '2', '18', '7', '20', '8', '22', '8', '19', '7', '4',
        '20', '8'],
       ['8', '22', '7', '19', '-10', '18', '11', '19', '12', '20', '12',
        'outlier', '21', '12'],
       ['8', '19', '10', '20', '12', '18', '10', '18', '10', '22', '8',
        '11', '19', '7'],
       ['9', '22', '11', '19', '7', '21', '11', '21', '9', '19', '7',
        '10', '19', '10'],
       ['11', '21', '7', '20', '11', '21', '12', '18', '11', '20', '12',
        '7', '21', '9']], dtype='<U11')

In [64]:
d_outliers = np.hstack((data[2:,0:2],q))
d_outliers

array([['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['November', 'Week 2', '13', '23', '13', '29', '8', '22',
        'outlier', '32', '6', '21', '14', '23', '11', '28'],
       ['November', 'Week 3', '6', '28', '14', '21', '9', '32', '8',
        '28', '13', '30', '6', '31', '6', '23'],
       ['November', 'Week 4', '6', '23', '8', '23', '14', '24', '6',
        '29', '13', '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['December', 'Week 2', '9', '30', '15', '26', '9', '27', '14',
        '31', '8', '22', '10', '26', '12', '28'],
       ['December', 'Week 3', '6', '28', '12', '31', '14', '27', '9',
        '32', '7', '23', '11', '32', '7', '23'],
       ['December', 'Week 4', '7', '28', '15', '29', '11', '22', '14',
        '21', '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['January', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22',
        '4', '21', '3', '3', '20', '5'],
       ['January', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19',
        '4', '18', '3', '7', '18', '4'],
       ['January', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22',
        '8', '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', 'outlier', '21', '12'],
       ['February', 'Week 2', '8', '19', '10', '20', '12', '18', '10',
        '18', '10', '22', '8', '11', '19', '7'],
       ['February', 'Week 3', '9', '22', '11', '19', '7', '21', '11',
        '21', '9', '19', '7', '10', '19', '10'],
       ['February', 'Week 4', '11', '21', '7', '20', '11', '21', '12',
        '18', '11', '20', '12', '7', '21', '9']], dtype='<U16')

In [65]:
d_outliers = np.vstack((data[0:2,:],d_outliers))

In [66]:
d_outliers

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['November', 'Week 2', '13', '23', '13', '29', '8', '22',
        'outlier', '32', '6', '21', '14', '23', '11', '28'],
       ['November', 'Week 3', '6', '28', '14', '21', '9', '32', '8',
        '28', '13', '30', '6', '31', '6', '23'],
       ['November', 'Week 4', '6', '23', '8', '23', '14', '24', '6',
        '29', '13', '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['December', 'Week 2', '9', '30', '15', '26', '9', '27', '14',
        '31', '8', '22', '10', '26', '12', '28'],
       ['December', 'Week 3', '6', '28', '12', '31', '14', '27', '9',
        '32', '7', '23', '11', '32', '7', '23'],
       ['December', 'Week 4', '7', '28', '15', '29', '11', '22', '14',
        '21', '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['January', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22',
        '4', '21', '3', '3', '20', '5'],
       ['January', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19',
        '4', '18', '3', '7', '18', '4'],
       ['January', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22',
        '8', '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', 'outlier', '21', '12'],
       ['February', 'Week 2', '8', '19', '10', '20', '12', '18', '10',
        '18', '10', '22', '8', '11', '19', '7'],
       ['February', 'Week 3', '9', '22', '11', '19', '7', '21', '11',
        '21', '9', '19', '7', '10', '19', '10'],
       ['February', 'Week 4', '11', '21', '7', '20', '11', '21', '12',
        '18', '11', '20', '12', '7', '21', '9']], dtype='<U16')

# 11.Replace the outliers with an appropriate value.

In [67]:
median = np.median(temp)

In [68]:
median

14.0

In [69]:
b = []
for i in temp:
    if i=='outlier':
        b.append(median)
    else:
        b.append(i)

In [70]:
b = np.array(b).reshape(16,14)

In [71]:
b

array([[ 11,  20,  10,  20,   9,  30,  14,  24,   6,  29,  12,  21,  12,
         27],
       [ 13,  23,  13,  29,   8,  22, -13,  32,   6,  21,  14,  23,  11,
         28],
       [  6,  28,  14,  21,   9,  32,   8,  28,  13,  30,   6,  31,   6,
         23],
       [  6,  23,   8,  23,  14,  24,   6,  29,  13,  25,  12,  24,  11,
         27],
       [ 11,  25,  14,  25,   7,  20,   9,  28,   9,  23,  11,  23,  11,
         30],
       [  9,  30,  15,  26,   9,  27,  14,  31,   8,  22,  10,  26,  12,
         28],
       [  6,  28,  12,  31,  14,  27,   9,  32,   7,  23,  11,  32,   7,
         23],
       [  7,  28,  15,  29,  11,  22,  14,  21,  12,  27,  12,  31,  14,
         25],
       [  5,  22,   8,  21,   8,  20,   7,  19,   8,  22,   2,   7,  18,
          4],
       [  4,  22,   6,  20,   6,  21,   4,  22,   4,  21,   3,   3,  20,
          5],
       [  5,  21,   7,  18,   8,  21,   4,  19,   4,  18,   3,   7,  18,
          4],
       [  6,  19,   2,  18,   7,  20,   8,  22,   8,  19,   7,   4,  20,
          8],
       [  8,  22,   7,  19, -10,  18,  11,  19,  12,  20,  12,  71,  21,
         12],
       [  8,  19,  10,  20,  12,  18,  10,  18,  10,  22,   8,  11,  19,
          7],
       [  9,  22,  11,  19,   7,  21,  11,  21,   9,  19,   7,  10,  19,
         10],
       [ 11,  21,   7,  20,  11,  21,  12,  18,  11,  20,  12,   7,  21,
          9]])

In [72]:
temp_1 = np.vstack((data[0:2,:],np.hstack((data[2:,0:2],b))))

In [73]:
temp_1

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '11', '20', '10', '20', '9', '30', '14',
        '24', '6', '29', '12', '21', '12', '27'],
       ['November', 'Week 2', '13', '23', '13', '29', '8', '22', '-13',
        '32', '6', '21', '14', '23', '11', '28'],
       ['November', 'Week 3', '6', '28', '14', '21', '9', '32', '8',
        '28', '13', '30', '6', '31', '6', '23'],
       ['November', 'Week 4', '6', '23', '8', '23', '14', '24', '6',
        '29', '13', '25', '12', '24', '11', '27'],
       ['December', 'Week 1', '11', '25', '14', '25', '7', '20', '9',
        '28', '9', '23', '11', '23', '11', '30'],
       ['December', 'Week 2', '9', '30', '15', '26', '9', '27', '14',
        '31', '8', '22', '10', '26', '12', '28'],
       ['December', 'Week 3', '6', '28', '12', '31', '14', '27', '9',
        '32', '7', '23', '11', '32', '7', '23'],
       ['December', 'Week 4', '7', '28', '15', '29', '11', '22', '14',
        '21', '12', '27', '12', '31', '14', '25'],
       ['January', 'Week 1', '5', '22', '8', '21', '8', '20', '7', '19',
        '8', '22', '2', '7', '18', '4'],
       ['January', 'Week 2', '4', '22', '6', '20', '6', '21', '4', '22',
        '4', '21', '3', '3', '20', '5'],
       ['January', 'Week 3', '5', '21', '7', '18', '8', '21', '4', '19',
        '4', '18', '3', '7', '18', '4'],
       ['January', 'Week 4', '6', '19', '2', '18', '7', '20', '8', '22',
        '8', '19', '7', '4', '20', '8'],
       ['February', 'Week 1', '8', '22', '7', '19', '-10', '18', '11',
        '19', '12', '20', '12', '71', '21', '12'],
       ['February', 'Week 2', '8', '19', '10', '20', '12', '18', '10',
        '18', '10', '22', '8', '11', '19', '7'],
       ['February', 'Week 3', '9', '22', '11', '19', '7', '21', '11',
        '21', '9', '19', '7', '10', '19', '10'],
       ['February', 'Week 4', '11', '21', '7', '20', '11', '21', '12',
        '18', '11', '20', '12', '7', '21', '9']], dtype='<U16')

# 12. Find the average max temperature for the winter months in Jaipur.

In [74]:
max_temp

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp', 'Max Temp'],
       ['November', 'Week 1', '20', '20', '30', '24', '29', '21', '27'],
       ['November', 'Week 2', '23', '29', '22', '32', '21', '23', '28'],
       ['November', 'Week 3', '28', '21', '32', '28', '30', '31', '23'],
       ['November', 'Week 4', '23', '23', '24', '29', '25', '24', '27'],
       ['December', 'Week 1', '25', '25', '20', '28', '23', '23', '30'],
       ['December', 'Week 2', '30', '26', '27', '31', '22', '26', '28'],
       ['December', 'Week 3', '28', '31', '27', '32', '23', '32', '23'],
       ['December', 'Week 4', '28', '29', '22', '21', '27', '31', '25'],
       ['January', 'Week 1', '22', '21', '20', '19', '22', '7', '4'],
       ['January', 'Week 2', '22', '20', '21', '22', '21', '3', '5'],
       ['January', 'Week 3', '21', '18', '21', '19', '18', '7', '4'],
       ['January', 'Week 4', '19', '18', '20', '22', '19', '4', '8'],
       ['February', 'Week 1', '22', '19', '18', '19', '20', '71', '12'],
       ['February', 'Week 2', '19', '20', '18', '18', '22', '11', '7'],
       ['February', 'Week 3', '22', '19', '21', '21', '19', '10', '10'],
       ['February', 'Week 4', '21', '20', '21', '18', '20', '7', '9']],
      dtype='<U16')

In [75]:
d_j

array([['December', 'Week 1', '25', '25', '20', '28', '23', '23', '30'],
       ['December', 'Week 2', '30', '26', '27', '31', '22', '26', '28'],
       ['December', 'Week 3', '28', '31', '27', '32', '23', '32', '23'],
       ['December', 'Week 4', '28', '29', '22', '21', '27', '31', '25'],
       ['January', 'Week 1', '22', '21', '20', '19', '22', '7', '4'],
       ['January', 'Week 2', '22', '20', '21', '22', '21', '3', '5'],
       ['January', 'Week 3', '21', '18', '21', '19', '18', '7', '4'],
       ['January', 'Week 4', '19', '18', '20', '22', '19', '4', '8']],
      dtype='<U16')

In [76]:
w = d_j[:,2:].astype(int)

In [77]:
w.shape

(8, 7)

In [78]:
np.mean(w)

21.25

# 13. Find the weekly min avg temp for the month of Dec in Jaipur

In [79]:
min_temp

array([['Month', 'Week', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday'],
       ['', '', 'Min Temp', 'Min Temp', 'Min Temp', 'Min Temp',
        'Min Temp', 'Min Temp', 'Min Temp'],
       ['November', 'Week 1', '11', '10', '9', '14', '6', '12', '12'],
       ['November', 'Week 2', '13', '13', '8', '-13', '6', '14', '11'],
       ['November', 'Week 3', '6', '14', '9', '8', '13', '6', '6'],
       ['November', 'Week 4', '6', '8', '14', '6', '13', '12', '11'],
       ['December', 'Week 1', '11', '14', '7', '9', '9', '11', '11'],
       ['December', 'Week 2', '9', '15', '9', '14', '8', '10', '12'],
       ['December', 'Week 3', '6', '12', '14', '9', '7', '11', '7'],
       ['December', 'Week 4', '7', '15', '11', '14', '12', '12', '14'],
       ['January', 'Week 1', '5', '8', '8', '7', '8', '2', '18'],
       ['January', 'Week 2', '4', '6', '6', '4', '4', '3', '20'],
       ['January', 'Week 3', '5', '7', '8', '4', '4', '3', '18'],
       ['January', 'Week 4', '6', '2', '7', '8', '8', '7', '20'],
       ['February', 'Week 1', '8', '7', '-10', '11', '12', '12', '21'],
       ['February', 'Week 2', '8', '10', '12', '10', '10', '8', '19'],
       ['February', 'Week 3', '9', '11', '7', '11', '9', '7', '19'],
       ['February', 'Week 4', '11', '7', '11', '12', '11', '12', '21']],
      dtype='<U16')

In [80]:
dec = min_temp[:,0]=='December'
dec_temp = min_temp[dec]

In [81]:
dec_temp

array([['December', 'Week 1', '11', '14', '7', '9', '9', '11', '11'],
       ['December', 'Week 2', '9', '15', '9', '14', '8', '10', '12'],
       ['December', 'Week 3', '6', '12', '14', '9', '7', '11', '7'],
       ['December', 'Week 4', '7', '15', '11', '14', '12', '12', '14']],
      dtype='<U16')

In [82]:
d_w1 = dec_temp[0:1,2:].astype(int)
round(np.mean(d_w1),3)

10.286

In [83]:
d_w2 = dec_temp[1:2,2:].astype(int)
round(np.mean(d_w2),3)

11.0

In [84]:
d_w3 = dec_temp[2:3,2:].astype(int)
round(np.mean(d_w3),3)

9.429

In [85]:
d_w4 = dec_temp[3:4,2:].astype(int)
round(np.mean(d_w4),3)

12.143

# 14. Find the overall avg temp for the months Dec and Jan

In [86]:
dec_1 = data[0:,0]=='December'
jan_1 = data[0:,0]=='January'

In [87]:
dec_jan = np.vstack((data[dec_1],data[jan_1]))

In [88]:
dec_jan = dec_jan[:,2:].astype(int)

In [89]:
round(np.mean(dec_jan),3)

15.179