In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Projects\Movie Rating\Trandingmovies.csv",index_col = 0)

In [15]:
df

,id,title,overview,popularity,release_date,vote_average,vote_count
0,881164,Boston Strangler,Reporters Loretta McLaughlin and Jean Cole bra...,92.814,2023-03-17,6.700,43
1,776835,The Magician's Elephant,Peter is searching for his long-lost sister wh...,39.777,2023-03-10,7.500,18
2,594767,Shazam! Fury of the Gods,"Billy Batson and his foster siblings, who tran...",1403.993,2023-03-15,7.540,89
3,804150,Cocaine Bear,"Inspired by a true story, an oddball group of ...",992.677,2023-02-22,6.706,260
4,1057577,Noise,"Matt, an influencer and young parent to newbor...",61.501,2023-03-17,6.100,13
...,...,...,...,...,...,...,...
19995,110126,NaN,Elvis Presley trades in his white jumpsuit for...,71.730,NaN,8.500,4
19996,1087040,Money Shot: The Pornhub Story,"Featuring interviews with performers, activist...",348.453,2023-03-15,5.278,27
19997,603692,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",530.197,2023-03-22,9.094,16
19998,934433,Scream VI,"Following the latest Ghostface killings, the f...",849.321,2023-03-08,7.394,302
19999,881462,Still Time,Dante accidentally kisses Alice and they get e...,17.669,2023-03-16,7.000,28

In [16]:
#summary of data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20000 non-null  int64
 1   title         12000 non-null  object
 2   overview      20000 non-null  object
 3   popularity    20000 non-null  float64
 4   release_date  12000 non-null  object
 5   vote_average  20000 non-null  float64
 6   vote_count    20000 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.2+ MB

In [17]:
df.isnull().sum()

id                 0
title           8000
overview           0
popularity         0
release_date    8000
vote_average       0
vote_count         0
dtype: int64

In [18]:
df.dropna(inplace = True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            12000 non-null  int64
 1   title         12000 non-null  object
 2   overview      12000 non-null  object
 3   popularity    12000 non-null  float64
 4   release_date  12000 non-null  object
 5   vote_average  12000 non-null  float64
 6   vote_count    12000 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 750.0+ KB

In [22]:
for i in df.columns:
    print(f"{i}'s unique values: {df[i].nunique()}")

id's unique values: 12
title's unique values: 12
overview's unique values: 12
popularity's unique values: 12
release_date's unique values: 9
vote_average's unique values: 11
vote_count's unique values: 12

In [27]:
df['id'].duplicated().sum()

11988

In [28]:
df.corr()

                    id  popularity  vote_average  vote_count
id            1.000000   -0.540125     -0.777962   -0.512177
popularity   -0.540125    1.000000      0.351891    0.402999
vote_average -0.777962    0.351891      1.000000    0.304788
vote_count   -0.512177    0.402999      0.304788    1.000000